.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  justify-content: center;
  align-items: center;
}

.modalForm {
  background-color: #fff;
  border-radius: 8px;
  padding: 2rem;
  width: min(90%, 35rem);
  display: flex;
  flex-direction: column;
}

.modalForm__inputField {
  display: flex;
  flex-direction: column;
}

.modalForm__inputField input,
textarea {
  padding: 0.8rem;
  outline: none;
  border: 2px solid lightgrey;
}

.modalForm__inputField {
  margin-top: 0.7em;
}

.modalForm__inputField label {
  margin-bottom: 0.2em;
}

.modalForm__btn {
  margin-top: 1em;
  background-color: #1d4ed8;
  border: none;
  padding: 1em;
  color: #fff;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
}
